@use "sass:math";
@use  "base/_mixins" as *;
@use "base/variables" as *;
@use "base/null";
@use "base/_functions" as *;

// Підключення стилів загальних елементів проекту
@use "common";


// Підключення стилів окремих сторінок
@use "home";


.footer {
    position: relative;
    background-color: hsl(45, 17%, 50%);
    @include adaptiveValue("padding-top", 91, 50);
    @include adaptiveValue("padding-bottom", 81, 40);

	&::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("../img/Texture.png");
		background-position: top;
		background-size:auto;
		background-repeat: repeat;
		opacity: 1;
		z-index: 9;
	}

	&::after{
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: #000;
		opacity: 0.4;
	}
	// .footer__container

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items:normal;
		gap: 80px;
		z-index: 20;
		font-family: "Forum";
		font-weight: 400;
	}
		
	// .footer__nav

	&__nav {
		width: 100%;
		height: auto;
	}

	// .footer__menu

	&__menu {
	}

	// .footer__social

	&__social {
	}
}
.menu-footer {
	display: flex;
	justify-content: space-between;
	@include adaptiveValue("gap",15,5);

	@media (max-width: 768px) {
		&{
			flex-direction: column;
			border-bottom: 1px solid $mainColor;
		}
	}

		// .menu-footer__item

	&__item {
		width: 100%;
		flex: 0 1 25%;
		font-size: 1rem;
		line-height: 1.4;

		@media (max-width: 768px) {
			&{
				border-bottom: 1px solid $mainColor;
			}
		}
	}

	@media (min-width: 769px) {
		&__spoiler{
			&::details-content {
				content-visibility: visible !important;
				display: block !important;
				visibility: visible !important;
				height: auto;
			}
		}

	/* Вимикаємо кліки по заголовку, щоб користувач не міг випадково згорнути меню */
		&__spoiler-title {
			pointer-events: none; 
			cursor: default;
		}

	/* Ховаємо кастомну стрілочку/плюсик, бо меню і так відкрите */
		.spoiler-title h3::after {
			display: none !important;
		}
	}

	// .menu-footer__spoiler

	&__spoiler {
		@media (max-width:768px){
			&::details-content{
				height: 0;
				opacity: 0;
				overflow: clip; /* Запобігає випадінню тексту під час руху */
				
				/* КЛЮЧОВИЙ МОМЕНТ: додаємо allow-discrete для content-visibility, 
				щоб браузер не ховав контент миттєво до закінчення анімації */
				transition: 
				height 0.5s ease, 
				opacity 0.5s ease, 
				content-visibility 0.5s ease allow-discrete; 
			}
			 // Стан, коли спойлер відкритий
			&[open]::details-content {
				height: auto;
				opacity: 1;
			}
		}
	}

	// .menu-footer__spoiler-title
	&__spoiler-title{
		list-style: none;
		@include adaptiveValue("font-size", 33, 25, 0, 1440, 769);
		line-height: 1.2;
		@include adaptiveValue("margin-bottom", 15, 5);
	}

	&__spoiler-title h3{
		list-style: none;
		position: relative;

		&::after{
			display: none;
		}

		@media (max-width:768px){
			&::before{
			position: absolute;
			content: "";
			display: block;
			top: calc(50% - 5px);
			right: 0;
			width: 0;
			height: 0;
			border-top: 5px solid transparent;
			border-right: 0 solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 10px solid $mainColor;
			/* Плавна анімація повороту */
			transition: transform 0.3s ease-in-out; 
			transform-origin: center center;
			}
		}
	}

	&__spoiler[open] .menu-footer__spoiler-title h3::before {
		transform: rotate(90deg);
	}

	// .menu-footer__spoiler-content

	&__spoiler-content {
	}

	// .menu-footer__submenu

	&__submenu {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	// .menu-footer__submenu-item

	&__submenu-item {
	}

	// .menu-footer__submenu-link

	&__submenu-link {
		position: relative;

		&::before{
			position: absolute;
			content: '';
			width: 0;
			height: 1px;
			background-color: #c4d702;
			bottom: 0;
			left: 0;
		}
		&:hover{
			&::before{
				position: absolute;
				content: '';
				width: 100%;
				height: 1px;
				background-color: #c4d702;
				bottom: 0;
				left: 0;
				transition: width 0.3s ease;
			}
			color: #fff;
		}
	}
}

.social {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	color:#fff;

		// .social__text

		&__text {
			@include adaptiveValue("font-size", 19,14);
			line-height: calc(19/15);
			font-weight: 400;
			font-family: "Forum";
		}

		// .social__icons

		&__icons {
			display: flex;
			@include adaptiveValue("gap", 20,5);

			a{
				display: block;

				@media (any-hover: hover){
					&:hover{
						color:#c4d702;
						transform: scale(1.1);
					}
				}
			}

		
		}
}