@use "sass:math";
@use  "base/_mixins" as *;
@use "base/variables" as *;
@use "base/null";
@use "base/_functions" as *;
// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
// @use "base";


// Якщо є локальні шрифти
// @font-face {
//     font-family: "Daneehand";
//     src: url("../fonts/DaneehandReg.woff2") format("woff2"),
//     url("../fonts/DaneehandReg.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @function rem($px) {
// 	$result: math.div($px, 16) + rem;
// 	@return $result;
// }
// @include mixins.fonts(Daneehand,DaneehandReg,500, normal);
// @include mixins.fonts(minecraft-ten,minecraft-ten-font-cyrillic,500, cyrillic);

// @include mixins.image-set("../img/products/02.png", 0);

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================




// Підключення стилів загальних елементів проекту
@use "common";

// Підключення стилів окремих блоків
@use "header";
@use "footer";

// Підключення стилів окремих сторінок
@use "home";
.body{
	margin: 0 auto;

}
.wrapper {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 0 auto;
	// background-color: rgb(114, 106, 81);
	background-color: hsl(45, 17%, 50%);

	&::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// @include image-set("../img/Texture.png", 0);
		// background-image: url("../img/icons/sprite.svg#Texture");
		background-image: url("../img/Texture3.png");
		background-position: top;
		background-size:auto;
		background-repeat: no-repeat;
		// background-clip: content-box;
		opacity: 1;
		// mix-blend-mode: multiply;
		// background-blend-mode: multiply; 
		// filter:contrast(0.5);
	// 	filter:grayscale(3%);
	// transform: scale(2);
	z-index: 9;
	}

	@supports (overflow: clip) {
		overflow: clip;
	}

	// Притискаємо footer
	>main {
		flex: 1 1 auto;
	}

	// Фікс для слайдерів
	>* {
		min-width: 0;
	}
}

.page{
	display: flex;
	width: 100%;
	flex-direction: column;
	z-index: 10;
	

}
.tea-shop{
	// display: flex;
	position: relative;
	width: 100%;
	// height: 813px;
	opacity: 1;
	z-index: 8;

}

.tea-shop::after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: #000;
	opacity: 0.4;
}
.tea-shop__container{
	z-index: 20;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	text-align: left;
	@include adaptiveValue("padding-top",200,74 );
	@include adaptiveValue("padding-bottom", 219, 50);

	@media (max-width:$tablet){
		&{
			flex-direction:column;
			align-items:center;
			gap:30px;
		}
	}
	// &::after{
	// 	position: absolute;
	// 	content: '';
		
	// 	bottom: 0;
	// 	right: 0;
	// 	// @include adaptiveValue("bottom", 210,150);
	// 	// @include adaptiveValue("right", 165,200);
	// 	transform: rotate(-5deg);
	// 	transform: translate(50px, 50px);

	// 	@media (max-width:$tablet){
	// 	&{
	// 		// bottom: 70px;
	// 		// right: 348px;
	// 		@include adaptiveValue("right", 500,170);
	// 		@include adaptiveValue("bottom", 90,10);

	// 	}
	// 	}
	// 	@media (max-width:$mobile){
	// 	&{
	// 		display: none;
	// 	}
	// 	}
	// }
}

.tea-shop__image {
	position:relative;
	flex: 1 1 50%;
	display: flex;
	justify-content: end;
	picture{
		position: relative;
		display: block;
		width: 100%;
		@include adaptiveValue("max-width", 536,200);
		height: 100%;

		img{
				max-width: 100%;
				width: 100%;
				height: 100%;
				object-fit:cover;
				// aspect-ratio: 1/1.5;
			}
		@media (max-width:$tablet){
			&{
				max-width: 536px;
			}
		}

		&::after{
			position: absolute;
			content: '';
			@include image-set("../img/cup1.png", 0);
			background-position: 0;
			background-size: contain;
			background-repeat: no-repeat;
			@include adaptiveValue("width", 46,20);
			@include adaptiveValue("height",65,40);
			@include adaptiveValue("right", 145, 100);
			@include adaptiveValue("bottom", -80, -50);

			@media (max-width:425.98px){
				&{
					display: none;
				}
			}
		}
	}
	&::before,
	&::after{
		position:absolute;
		content:'';
	}


	&::before{
		// display: flex;

		// @include adaptiveValue("bottom", -60,130);
		// @include adaptiveValue("right", 338,150);
		@include adaptiveValue("left", 90, 0, 1, 1440, 992);
		@include adaptiveValue("left", -125, -100, 1, 991.98, 767.98);
		// @include adaptiveValue("", , ,1, , , )

		bottom: -54px;
		// right: -100%;

		@include adaptiveValue("width", 330,100);
		@include adaptiveValue("height", 262, 100);
		@include image-set("../img/flowers.png", 0);
		background-size: cover;
		background-position: 0;
		background-repeat: no-repeat;
	

		z-index: -8;
		@media (min-width:1441px){
		&{
			left: 90px;
		}
		}
		@media (max-width:766px){
			&{
				display: none;
			}
		}
	}
	&::after{
		@include adaptiveValue("width", 210, 110);
		@include adaptiveValue("height", 178, 78);	
		right: -4.1%;
		bottom: -6%;
		@include image-set("../img/kettle.png", 0);
		background-size: contain;
		background-position: 0;
		background-repeat: no-repeat;

		@media (max-width:425.98px){
			&{
				display: none;
			}
		}
	}
}

.information-container {
	position: relative;
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	color: #c4d702;
	max-width: 535px;
	@include adaptiveValue("font-size", 90,32);
	line-height: calc(98/90);

	&::before,
	&::after{
		content: "";
		position: absolute;
		@include image-set("../img/cup1.png", 0);
		background-size: contain;
		background-position: right;
		background-repeat: no-repeat;
	}

	&::before{
		top: em(-25, 90);
		left: em(510, 90);
		@include adaptiveValue("width", 49,20);
		@include adaptiveValue("height", 69, 40);
		z-index: 30;
		@media (max-width:$mobileSmall){
			&{
				display: none;
			}
		}
	}
	&::after{
		@include adaptiveValue("width", 52,20);
		@include adaptiveValue("height", 68,36);
		z-index: 30;
		transform: rotate(-15deg);
		left: em(567, 90);

		@media (max-width:$mobileSmall){
			&{
				display: none;
			}
		}
	}

	@media (max-width:$tablet){
		&{
			max-width:100%;
		}
	}
	@media (max-width:766px){
	&{
		line-height: 1.4;
	}
	}

	// .information-container__name
	&__name {
		font-weight: 400;
		font-family: "Forum";
		p{
			@include adaptiveValue("font-size", 40,20);
			line-height: calc(45/40);
			
		}
	}
	// .information-container__description

	&__description{
		font-size: 14px;
		line-height: calc(20/14);
		font-weight: 400;
		font-family: "Roboto";
		height: auto;
		// @include adaptiveValue("margin-top", 25,5);
		margin-top: 25px;
		
		@media (max-width:766px){
			&{
				line-height: 1.5;
			}
			}
		& p:first-child{
			@include adaptiveValue("font-size", 28,16);
			line-height: 1.5;
			font-weight: 600;
			font-family: "Forum";
			@include adaptiveValue("margin-bottom", 16,8);
		}

		.description__button {
			// @include adaptiveValue("margin-top", 23, 10) 
			margin-top: 24px;
		}
	}
}


.button {
	display: block;
	width: rem(155);
	height: rem(38);
	background-color: #c2d502;		
	border-radius: 19px;
	font-size: 21px;
	line-height: 120%;
	color: #726a51;
	font-weight: 400;
	font-family: "Forum";
	transition: 0.3s ease;

	&:hover{
		background-color: rgba(114, 106, 81, 1);
		color: #c2d502;
		transition: 0.3s ease;
	}
}
// =========================================================
.we-do {
	padding-top: 142px;
	padding-bottom: 171px;
	@include adaptiveValue("padding-top", 142,50);
	@include adaptiveValue("padding-bottom",171, 50);
	&__container{
		position: relative;
		display: flex;
		gap: 5px;

		@media (max-width:1024px){
			&{
				flex-direction: column;
				gap: 50px;
			}
		}

		&::before,
		&::after{
			position: absolute;
			content: '';
			background-repeat: no-repeat;
			background-position: top;

			@media (max-width:540px){
				&{
					display: none;
				}
			}
		}
		&::before{
			@include image-set("../img/cup1.png", 0);
			background-size: contain;
			@include adaptiveValue("width", 46,20);
			aspect-ratio: 46/65;
			right: 90px;
			top: -5px;
			filter: brightness(1.5);
			transform: rotate(10deg);
			@media (max-width:1024px){
			&{
				top: auto;
				bottom: 155px;
				// right: 80px;
				@include adaptiveValue("right", 80,65, 0, 1024, 541);
			}
			}
		}
		&::after{
			@include image-set("../img/cup1.png", 0);
			background-size: contain;
			@include adaptiveValue("width", 46,20);
			aspect-ratio: 46/65;
			filter: brightness(1.5);
			right: 40px;
			top: 30px;
			transform: rotate(-5deg);
			@media (max-width:1024px){
					&{
						top: auto;
						bottom: 125px;
					}
				}
		}
	}

		// .we-do__images-container

	&__images-container {
		position: relative;
		flex: 0 1 58%;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		@include adaptiveValue("gap", 30, 10,0,1440,1025);

		@media (max-width:1024px){
			&{
				justify-content: center;
				align-items: center;
				gap: 20px;
			}
		}
		@media (max-width:$mobile){
			&{
				flex-direction: column;
				align-items: normal;
			}
		}
		@media (max-width:425px){
			&{
				align-items: center;
			}
		}

		&::after{
			position: absolute;
			content: '';
			top: -50px;
			right: -50px;
			width: 330px;
			@include adaptiveValue("width", 330,100);
			aspect-ratio: 330 / 262;
			@include image-set("../img/flowers.png", 0);
			background-size:cover;
			background-position: 0;
			background-repeat: no-repeat;
			z-index: -1;

			@media (max-width:1024px){
				&{
					@include adaptiveValue("right", 75,-50, 0, 1024, 769);
				}
			}
			@media (max-width:$mobile){
			&{
				display: none;
			}
			}
		}

		picture{
			display: flex;
			position: relative;

			&:first-child::before,
			&:first-child::after{
				position: absolute;
				content: '';
				background-repeat: no-repeat;
				background-position: top;
				transform: scaleX(-1);
				@media (max-width:$mobile){
				&{
					display: none;
				}
				}
			}
			&:first-child::before{
				@include adaptiveValue("width", 210,152, 0, 1440, 768);
				aspect-ratio: 210/178;
				bottom: -55px;
				left: -7%;
				@include image-set("../img/kettle.png", 0);
				background-size: contain;
			}
			&:first-child::after{
				@include image-set("../img/cup1.png", 0);
				background-size: contain;
				@include adaptiveValue("width", 46,20);
				aspect-ratio: 46/65;
				top: calc(100% + 50px);
				@include adaptiveValue("left", 150, 100, 0, 1440, 768);
				filter: brightness(1.5);
			}
		}

		img{
			display: block;
			width: 100%;
			object-fit: cover;
		}
	
	}

	// .we-do__text

	&__text {
		flex: 0 1 42%;
		align-self: center;
		text-align: center;
		color: #c4d702;
		font-weight: 400;

		h2{
			font-family: "Forum";
			@include adaptiveValue("font-size", 90,32);
			line-height: calc(98/90);
		}
		p{
			font-size: 14px;
			line-height: calc(20/14);
			font-family: "Roboto";
			@include adaptiveValue("margin-top", 30,15);
			}

		button{
			margin: 25px auto 0 auto;
		}
	}
}

// ==============================================================
.relaxing-tea {
	position: relative;
	display: flex;
	justify-content: space-between;

	@media (max-width:$mobile){
		&{
			flex-direction: column-reverse;
			gap: 20px;
		}
	}
	// .relaxing-tea__text-block
	&__text-block {
		flex: 0 1 50%;
		z-index: 20;

		// width: 1347px;
	}

	// .relaxing-tea__image
	&__image{
		flex: 0 1 50%;
		display: flex;
		justify-content: flex-end;		
		z-index: 20;

		picture img{
			width: 100%;
			aspect-ratio: 715 / 910;
			object-fit: cover;
		}

		@media (max-width:$mobile){
			&{
				justify-content: center;
			}
		}
	}

	&::after{
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: #000;
		opacity: 0.4;
	}
}
	.text-block{
		position: relative;
		display: flex;
		flex-direction: column;
		// justify-content: space-around;
		justify-content:center;
		align-items: center;
		text-align: center;

		font-size: 14px;
			line-height: calc(20/14);
			color: #c4d702;
			font-weight: 400;
			font-family: "Roboto";

		// text-block__text
		margin-bottom: 87px;
		&__text{
			max-width: 470px;

			h3{
				@include adaptiveValue("font-size", 90,32);
				line-height: calc(98/90);
				font-family: "Forum";
				margin-bottom: 20px;
			}
		}

			// relaxing-tea-link
		.relaxing-tea__link{
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);

			// font-size: 14px;
			// line-height: 20px;
			// color: #c4d702;
			// font-weight: 400;
			// font-family: "Roboto";
			// text-align: center;
			&::before{
				position: absolute;
				content: '';
				width: 0;
				height: 2px;
				background-color: #c4d702;
				bottom: -5px;
				left: -50%;
			}
			&:hover{
				&::before{
					position: absolute;
					content: '';
					width: 200%;
					height: 2px;
					background-color: #c4d702;
					bottom: -5px;
					left: -50%;
					transition: width 0.3s ease;
				}
			}
		}
		// text-block__link
		// &__link {
		// 	// align-self: flex-end;
		// 	// align-items: flex-end;
		// 	// justify-content: flex-end;
		// 	// justify-self: flex-end;
		// 	display: flex;
		// 	align-items: flex-end;
		// 	justify-content: flex-end;
		// 	flex-direction: column-reverse;
		// }
	}






